.input-field {
  @include text-body;
  border: 1px solid $custom-color-dark-shade-25;
  border-radius: 4px;
  width: 305px;
  height: 44px;
  padding-left: 15px;
  //margin-top: 5px;
  //text-indent: 15px;
  //text-align: left;
  background-color: transparent;
  display: block;

  &:focus {
    border: 1px solid $custom-color-dark-shade-50;
    outline: none;
  }

  &:hover {
    border: 1px solid $custom-color-dark-shade-50;
  }

  &::placeholder {
    color: $custom-color-dark-shade-25;
  }

  @import "/src/common.blocks/input-field/_short/input-field_short.scss";
  @import "/src/common.blocks/input-field/_shadow/input-field_shadow.scss";
  @import "/src/common.blocks/input-field/_hover/input-field_hover.scss";
  
}