include ../../color-palette/color-palette.pug

.colors-type-container__color-palette-container
  +color-palette("Dark Shade 100%", "#1F2041", " color-palette__color-box_color_dark-shade-100", " color-palette__color-box_shadow")
  +color-palette("Dark Shade 75%", "#1F2041", " color-palette__color-box_color_dark-shade-75", "")
  +color-palette("Dark Shade 50%", "#1F2041", " color-palette__color-box_color_dark-shade-50", "")
  +color-palette("Dark Shade 25%", "#1F2041", " color-palette__color-box_color_dark-shade-25", "")
  +color-palette("Dark Shade 5%", "#1F2041", " color-palette__color-box_color_dark-shade-5", "")
  +color-palette("Purple", "#BC9CFF", " color-palette__color-box_color_purple", "")
  +color-palette("Green", "#6FCF97", " color-palette__color-box_color_green", "")