include ../../color-palette/color-palette.pug

.colors-type-container__color-palette-container
  +color-palette("Dark shade 100%", "#1F2041", " color-palette__color-box_color_dark-shade-100", " color-palette__color-box_shadow colors-type-container__color-palette-position")
  +color-palette("Dark shade 75%", "#1F2041", " color-palette__color-box_color_dark-shade-75", " colors-type-container__color-palette-position")
  +color-palette("Dark shade 50%", "#1F2041", " color-palette__color-box_color_dark-shade-50", " colors-type-container__color-palette-position")
  +color-palette("Dark shade 25%", "#1F2041", " color-palette__color-box_color_dark-shade-25", " colors-type-container__color-palette-position")
  +color-palette("Dark shade 5%", "#1F2041", " color-palette__color-box_color_dark-shade-5", " colors-type-container__color-palette-position")
  +color-palette("Purple", "#BC9CFF", " color-palette__color-box_color_purple", " colors-type-container__color-palette-position")
  +color-palette("Green", "#6FCF97", " color-palette__color-box_color_green", "")