include /src/common.blocks/input-field/input-field

mixin input-with-title(options)
  .input-with-title__container 
    .input-with-title__title= options.title ? options.title : "default"
    +input-field({type: options.type, 
                  placeholder: options.placeholder, 
                  isShadow: options.isShadow, 
                  value: options.value, 
                  isHover: options.isHover})