include /src/common.blocks/logo/logo
include /src/common.blocks/input-text/input-text
include /src/common.blocks/input-field/input-field
include /src/common.blocks/input-with-title/input-with-title
include /src/common.blocks/dropdown/dropdown

+b.fe-body
  +e.container 
    +e.column1
      +e.logo-colorless
        +logo()
      +input-with-title({type: "email", placeholder: "Email", title: "text field", subtitle: "default", isShadow: true})
      +e.container-short
        +input-with-title({type: "text", value: "This is pretty awesome", title: "text field", subtitle: "hover / focus", isHover: true})
      +e.container-short
        +input-with-title({type: "dropdown", value: "Сколько гостей", title: "dropdown"})
      +e.container-short
        +input-with-title({type: "text", placeholder: "дд.мм.гггг", title: "masked text field", isMasked: true})    
      +e.container-flex
        +input-with-title({type: "dropdown", value: "ДД.ММ.ГГГГ", title: "date dropdown", size: "short"})
        +input-with-title({type: "dropdown", value: "19.08.2019", title: "date dropdown", size: "short"})
      +e.container-short
        +input-with-title({type: "dropdown", value: "19 авг - 23 авг", title: "filter date dropdown", size: "medium"})
      +e.container-short
        +input-with-title({type: "email", placeholder: "Email", title: "subscription text field", isShort: true, isArrow: true})
      +e.container-short
        +input-with-title({type: "dropdown", value: "2 спальни,2 кровати...", title: "dropdown", subtitle: "default", size: "medium"})
      +e.container-short
        +input-with-title({type: "dropdown", value: "2 спальни,2 кровати...", list: {"спальни": 2, "кровати": 2, "ванные комнаты": 0}, title: "dropdown", subtitle: "expanded", size: "medium", isExpanded: true})
    +e.column2
      +e.container-short
        +input-with-title({type: "dropdown", value: "Сколько гостей", list: {"взрослые": 0, "дети": 0, "младенцы": 0}, title: "dropdown", isExpanded: true})