.fe-body {
  
  @import "/src/common.blocks/fe-body/__logo-colorless/fe-body__logo-colorless.scss";

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 143px 140px;
  }

  &__container-bottom {
    display: flex;
    justify-content: space-between;
  }

  @import "/src/common.blocks/fe-body/__container-short/fe-body__container-short.scss";
  @import "/src/common.blocks/fe-body/__container-flex/fe-body__container-flex.scss";
  
}

@import "/src/common.blocks/input-text/input-text.scss";
@import "/src/common.blocks/input-field/input-field.scss";
@import "/src/common.blocks/input-with-title/input-with-title.scss";
@import "/src/common.blocks/dropdown/dropdown.scss";
@import "/src/common.blocks/checkbox-button/checkbox-button.scss";
