.fe-body {
  
  // margin: 100px 20px;
  @import "/src/common.blocks/fe-body/__logo-colorless/fe-body__logo-colorless.scss";

  &__container {
    margin: 143px 140px;
  }

  //@import "/src/common.blocks/fe-body/__input-with-title/fe-body__input-with-title.scss";

  &__dropdown-container {
    display: flex;
    justify-content: space-between;
    width: 320px;
  }

  @import "/src/common.blocks/fe-body/__container-short/fe-body__container-short.scss";
  
}

@import "/src/common.blocks/input-text/input-text.scss";
@import "/src/common.blocks/input-field/input-field.scss";
@import "/src/common.blocks/input-with-title/input-with-title.scss";
@import "/src/common.blocks/dropdown/dropdown.scss";
