mixin circle(options)
  - var className = "dropdown__circle"
  - className += options.isDisabled ? " dropdown__circle_disabled" : ""

  div(class= className)

    case options.symbol 
      when "minus"
        span.dropdown__circle-symbol= '-'
      when "plus"
        span.dropdown__circle-symbol= '+'