&__circle {

  @include dropdown-symbols;

  position: relative;

  width: 30px;
  height: 30px;
  
  border-radius: 15px;
  border: 1px solid $custom-color-dark-shade-25; 
  
  cursor: pointer;

  @import "/src/common.blocks/dropdown/__circle/_disabled/dropdown__circle_disabled.scss";
}