mixin circle(options)
  - var circleClass = "dropdown__circle"
  - var symbolClass = "dropdown__circle-symbol"
  - circleClass += options.isDisabled ? " dropdown__circle_disabled" : ""
  - symbolClass += options.isDisabled ? " dropdown__circle-symbol_disabled" : ""

  div(class= circleClass)

    case options.symbol 
      when "minus"
        span(class= symbolClass)= '-'
      when "plus"
        span(class= symbolClass)= '+'