&__color-block {
  width: 70px;
  height: 70px;
  border-radius: 6px;

  @import "/src/common.blocks/ct-body/__color-block/_color_dark-shade-100/ct-body__color-block_color_dark-shade-100.scss";

  @import "/src/common.blocks/ct-body/__color-block/_color_dark-shade-75/ct-body__color-block_color_dark-shade-75.scss";

  @import "/src/common.blocks/ct-body/__color-block/_color_dark-shade-50/ct-body__color-block_color_dark-shade-50.scss";

  @import "/src/common.blocks/ct-body/__color-block/_color_dark-shade-25/ct-body__color-block_color_dark-shade-25.scss";

  @import "/src/common.blocks/ct-body/__color-block/_color_dark-shade-5/ct-body__color-block_color_dark-shade-5.scss";

  @import "/src/common.blocks/ct-body/__color-block/_color_purple/ct-body__color-block_color_purple.scss";

  @import "/src/common.blocks/ct-body/__color-block/_color_green/ct-body__color-block_color_green.scss";

  @import "/src/common.blocks/ct-body/__color-block/_shadow/ct-body__color-block_shadow.scss";
}