@import "./_color_dark-shade-100/color-palette__color-box_color_dark-shade-100.scss";
@import "./_shadow/color-palette__color-box_shadow.scss";

.color-palette__color-box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}