mixin dropdown(options)
  .dropdown__container
    if options.size == "short"
      button.dropdown(class=" dropdown_size_short")= options.value
    else if options.size == "medium"
      button.dropdown(class=" dropdown_size_medium")= options.value
    else 
      button.dropdown= options.value

    
    if options.isExpanded
      ul.dropdown__dropdown-list(class=" dropdown__dropdown-list_expanded")
        each val in options.list
          li.dropdown__dropdown-item= val