include /src/common.blocks/logo/logo
include /src/common.blocks/color-block/color-block
include /src/common.blocks/color-cont/color-cont


+b.ct-body
      +e.logo-colorless
        +logo()
      +e.container
        +e.colors-kit
          +color-cont({title: "Dark Shade 100%", subtitle: "#1F2041"}, {color: "dark-shade-100", isShadow: true})
          +color-cont({title: "Dark Shade 75%", subtitle: "#1F2041"}, {color: "dark-shade-75", isShadow: false})
          +color-cont({title: "Dark Shade 50%", subtitle: "#1F2041"}, {color: "dark-shade-50", isShadow: false})
          +color-cont({title: "Dark Shade 25%", subtitle: "#1F2041"}, {color: "dark-shade-25", isShadow: false})
          +color-cont({title: "Dark Shade 5%", subtitle: "#1F2041"}, {color: "dark-shade-5", isShadow: false})
          +color-cont({title: "Purple", subtitle: "#BC9CFF"}, {color: "purple", isShadow: false})
          +color-cont({title: "Green", subtitle: "#6FCF97"}, {color: "green", isShadow: false})
        +e.types-kit
          +e.title-block
            +e.P.tag.__text-size-h1 H1
            +e.P.text.__text-size-h1 This one is the sub-section or widget title
          +e.title-block 
            +e.P.tag.__text-size-h2 H2
            +e.P.text.__text-size-h2 Next one is the item title inside widgets
          +e.title-block
            +e.P.tag.__text-size-h3 H3
            +e.P.text_uppercase.__text-size-h3 This is a label or CTA text
          +e.title-block
            +e.P.tag.__text-size-body Body
            +e.P.text.__text-size-body This is the body text which is used for most<br> of the design, like paragraphs, lists, etc.