@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.woff2'), url('/fonts/Montserrat-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.woff2'), url('/fonts/Montserrat-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

@mixin text-body {
  font: $custom-font-body;
  color: $custom-color-dark-shade-75;
}

@mixin text-body-gray {
  @include text-body;
  color: $custom-color-dark-shade-25;
}

@mixin title-h3 {
  font: $custom-font-h3;
  color: $custom-color-dark-shade-100;
  text-transform: uppercase;
}

@mixin dropdown-symbols {
  font: $custom-font-body;
  font-size: 18px;
  color: $custom-color-dark-shade-50;
}