include bemto/bemto

doctype html
html 
  head 
    title Form Elements
    link(href="main.scss" rel="stylesheet")
    //- script(src="main.js")
  body
    include /src/common.blocks/fe-body/fe-body
    script(src="main.js") 
      //- include /src/js/masked-text.js