include bemto/bemto

html
  head
    link(href="type.scss" rel="stylesheet")
  body
    //- h1 Hello World!
    //- include h2.pug
    //- img(src="logo.jpg")
    //- include components/colors-type-container/colors-type-container
    +b.ct-body
      +b.IMG(src="../img/logo.svg").logo-colorless
      +e.container
        +e.colors-kit
          +e.color-cont
            +e.color-block_color_dark-shade-100._shadow
            +e.type-block
              +e.P.title Dark Shade 100%
              +e.P.subtitle #1F2041
          +e.color-cont
            +e.color-block_color_dark-shade-75
            +e.type-block
              +e.P.title Dark Shade 75%
              +e.P.subtitle #1F2041
          +e.color-cont
            +e.color-block_color_dark-shade-50
            +e.type-block
              +e.P.title Dark Shade 50%
              +e.P.subtitle #1F2041
          +e.color-cont
            +e.color-block_color_dark-shade-25
            +e.type-block
              +e.P.title Dark Shade 25%
              +e.P.subtitle #1F2041
          +e.color-cont
            +e.color-block_color_dark-shade-5
            +e.type-block
              +e.P.title Dark Shade 5%
              +e.P.subtitle #1F2041
          +e.color-cont
            +e.color-block_color_purple
            +e.type-block
              +e.P.title Purple
              +e.P.subtitle #BC9CFF
          +e.color-cont
            +e.color-block_color_green
            +e.type-block
              +e.P.title Green
              +e.P.subtitle #6FCF97
        +e.types-kit
          +e.title-block
            +e.P.tag.__text-size-h1 H1
            +e.P.text.__text-size-h1 This one is the sub-section or widget title
          +e.title-block 
            +e.P.tag.__text-size-h2 H2
            +e.P.text.__text-size-h2 Next one is the item title inside widgets
          +e.title-block
            +e.P.tag.__text-size-h3 H3
            +e.P.text_uppercase.__text-size-h3 This is a label or CTA text
          +e.title-block
            +e.P.tag.__text-size-body Body
            +e.P.text.__text-size-body This is the body text which is used for most<br> of the design, like paragraphs, lists, etc.
    