include bemto/bemto

html
  head
    link(href="type.scss" rel="stylesheet")
  body
    //- h1 Hello World!
    //- include h2.pug
    //- img(src="logo.jpg")
    //- include components/colors-type-container/colors-type-container
    +b.ct-body
      +e.container
        +e.colors-kit
          +e.color-cont
            +e.color-block_color_dark-shade-100._shadow
            +e.type-block
              +e.P.title Dark Shade 100%
              +e.P.subtitle #1F2041
          +e.color-cont
            +e.color-block_color_dark-shade-75
            +e.type-block
              +e.P.title Dark Shade 75%
              +e.P.subtitle #1F2041
          +e.color-cont
            +e.color-block_color_dark-shade-50
            +e.type-block
              +e.P.title Dark Shade 50%
              +e.P.subtitle #1F2041
          +e.color-cont
            +e.color-block_color_dark-shade-25
            +e.type-block
              +e.P.title Dark Shade 25%
              +e.P.subtitle #1F2041
          +e.color-cont
            +e.color-block_color_dark-shade-5
            +e.type-block
              +e.P.title Dark Shade 5%
              +e.P.subtitle #1F2041
          +e.color-cont
            +e.color-block_color_purple
            +e.type-block
              +e.P.title Purple
              +e.P.subtitle #BC9CFF
          +e.color-cont
            +e.color-block_color_green
            +e.type-block
              +e.P.title Green
              +e.P.subtitle #6FCF97
        +e.types-kit
          +e.type-item_text_h1
            +e.P.tag H1
            +e.P.text This one is the sub-section or widget title
          +e.type-item_text_h2
            +e.P.tag H2
            +e.P.text Next one is the item title inside widgets
          +e.type-item_text_h3
            +e.P.tag H3
            +e.P.text This is a label or CTA text
          +e.type-item_text_body
            +e.P.tag Body
            +e.P.text This is the body text which is used for most of the design, like paragraphs, lists, etc.
    