include bemto/bemto

html
  head
    link(href="type.scss" rel="stylesheet")
  body
    //- h1 Hello World!
    //- include h2.pug
    //- img(src="logo.jpg")
    //- include components/colors-type-container/colors-type-container
    //- include /src/common.blocks/ct-body/ct-body
    a(href="/colors_type.html") colors and type
    