* {
  margin: 0;
  padding: 0;
}

@import "/src/variables.scss";
@import "fonts.scss";
@import "/src/common.blocks/logo/logo.scss";
@import "/src/common.blocks/color-block/color-block.scss";
@import "/src/common.blocks/color-cont/color-cont.scss";



body {
  //font-family: 'Montserrat';
  //font-weight: 400;
  //font-style: normal;
  font: $custom-font-body;
  //background-color: darkgrey;
}

// -----------------------------------------------

@import "/src/common.blocks/ct-body/ct-body.scss";
@import "/src/common.blocks/fe-body/fe-body.scss";
@import "/src/common.blocks/title-h3/title-h3.scss";
@import "/src/common.blocks/text-body/text-body.scss";
