* {
  margin: 0;
  padding: 0;
}

@import "fonts.scss";

$custom-font-h1: 700 24px 'Montserrat', sans-serif;
$custom-font-h2: 700 19px 'Montserrat', sans-serif;
$custom-font-h3: 700 12px 'Montserrat', sans-serif;
$custom-font-body: 400 14px/1.71 'Montserrat', sans-serif;

$custom-color-dark-shade-100: #1f2041;
$custom-color-dark-shade-75: rgba(31, 32, 65, 0.75);
$custom-color-dark-shade-50: rgba(31, 32, 65, 0.5);
$custom-color-dark-shade-25: rgba(31, 32, 65, 0.25);
$custom-color-dark-shade-5: rgba(31, 32, 65, 0.05);
$custom-color-purple: #bc9cff;
$custom-color-green: #6fcf97;

body {
  //font-family: 'Montserrat';
  //font-weight: 400;
  //font-style: normal;
  font: $custom-font-body
}

// -----------------------------------------------

.ct-body {

  &__container {
    display: flex;
    justify-content: flex-start;
    margin: 145px 158px 145px 150px;
  }

  &__colors-kit {
   margin-right: 415px;
   min-width: 282px;
  }

  &__color-cont {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__color-block {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_color_dark-shade-100 {
      background-color: $custom-color-dark-shade-100;
    }
  
    &_color_dark-shade-75 {
      background-color: $custom-color-dark-shade-75;
    }
  
    &_color_dark-shade-50 {
      background-color: $custom-color-dark-shade-50;
    }
  
    &_color_dark-shade-25 {
      background-color: $custom-color-dark-shade-25;
    }
  
    &_color_dark-shade-5 {
      background-color: $custom-color-dark-shade-5;
    }
  
    &_color_purple {
      background-color: $custom-color-purple;
    }
  
    &_color_green {
      background-color: $custom-color-green;
    }
  
    &_shadow {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &__type-block {
    margin-left: 40px;
  }

  &__title {
    font: $custom-font-h2;
    line-height: 146%;
  }

  &__subtitle {
    font: $custom-font-h2;
    line-height: 146%;
    font-weight: 400;
  }

  &__types-kit {
    //display: grid;
    //grid-template-columns: auto 369px;
    //grid-template-rows: auto auto auto auto;
    width: 436px;
  }

  &__title-block {
    display: flex;
    margin-bottom: 51px;
  }

  &__text-size-h1 {
    font: $custom-font-h1;
  }

  &__text-size-h2 {
    font: $custom-font-h2;
  }

  &__text-size-h3 {
    font: $custom-font-h3;
  }

  &__text-size-body {
    font: $custom-font-body;
  }

  &__tag {
    color: $custom-color-dark-shade-25;
    min-width: 37px;
    margin-right: 30px;
    text-align: right;
    font-weight: 400;
    //text-transform: uppercase;
    //height: 60px;
    //box-sizing: content-box;

    
  }

  &__text {
    color: $custom-color-dark-shade-100;
    //height: auto;
    //height: 60px;
    //box-sizing: content-box;
    //font: $custom-font-h1;

    &_uppercase {
      text-transform: uppercase;
    }
  }
}
